# Database
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_HOST=your_db_host
POSTGRES_DATA_PATH=/path/to/postgres/data

# JWT Auth
JWT_SECRET=your_jwt_secret_key

# RabbitMQ
RABBITMQ_HOST=your_rabbitmq_host
RABBITMQ_DATA_PATH=/path/to/rabbitmq/data

# Data paths
TEMPLATE_DATA_PATH=/path/to/templates
ATTACHMENTS_DATA_PATH=/path/to/attachments
